<% content_for :scripts do %>
  <script type="text/javascript">
    $(function() {
      $('.datepicker').datepicker();
    });
  </script>
<% end %>

<%= form_for @search, :url=>keywords_query_path, :method=>:get, :validate=>true do |f| %>
    <div>
      <%= f.error_messages %>
    </div>
    <div>
      <%= f.label :q, t("keyword.label_search_for") %>
      <%= f.text_field :q %>
    </div>
    <div>
      <%= f.label :from, t("keyword.label_search_from") %>
      <%= f.text_field :from, :class => 'datepicker' %>
      <%= f.label :to, t("keyword.label_search_to") %>
      <%= f.text_field :to, :class => 'datepicker' %>
    </div>
    <div>
      <%= f.submit t("keyword.label_search_button") %>
    </div>
<% end %>
